# Node.js dependencies
node_modules/

# Build output
dist/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# IDE and editor directories
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Test directories
tests/
test/
test.ts
images/
